/**
 * デフォルトfont-family設定
 */
html {
  font-family: Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;
}

/**
 * デフォルトのタグスタイル設定
 */
body {
  background: #DDF;
}

h1 {
  text-decoration: line-through;
}